
<div class="movie-modal-card" data-film-id="{{id}}">
        <img class="modal-movie-poster" src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{original_title}} poster" onerror="this.onerror=null;this.src='https://i.pinimg.com/originals/74/3d/b2/743db230d891b47c1d8c66b161111b91.jpg'">
</div>        

<div class="film-information">
    <div>
        <h2 class="film-title">{{title}}</h2>
        <ul class="film-list">
            <li class="film-item">
                <p class="film-details ">Vote / Votes</p>
                <p class="film-info--uper">
                    <span class=" film-rating--orange">{{vote_average}}</span>
                    <span class="film-rating--divider"> / </span>
                    <span>{{vote_count}}</span>
                </p>
            </li>
            <li class="film-item">
                <p class="film-details ">Popularity</p>
                <p class="film-info--uper">{{popularity}}</p>
            </li>
            <li class="film-item">
                <p class="film-details">Original title</p>
                <p class="original">{{original_title}}</p>
            </li>
            <li class="film-item">
                <p class="film-details">Genre</p>

                <p class="film-info">{{#each genres}}
                <span class="genre-item">{{this}}{{#unless @last}}, &nbsp{{/unless}}</span>
                {{/each}}</p>
            </li>
        </ul>
    </div>
    <div>
        <h3 class="film-about-title">About</h3>
        <p class="film-about-text">
            {{overview}}
        </p>
    </div>
    <div class="film-button-wrapper">
        <button type="button" class="film-button btn-watched is-active">Add to watched</button>
        <button type="button" class="film-button btn-queue">Add to queue</button>
    </div>
</div>
